@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
margin: 0px;
padding: 0px;
}
#container{
    width: 80%;
    height: 920px;
    background-color: aqua;
    position: relative;
    top: 25px;
    left: 10%;
    border-radius: 15px;
    font-family: 'Zen Dots', cursive;  
    text-align: center;
}
.spanIniciar{
    font-size: 50px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 35%;
    text-align: center;
    left: 41.5%;
    font-family: 'Zen Dots', cursive;   
    
}
.imgBotao{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 51%;
    top: 42%;
}
.perguntas{
    position: absolute;
    left: 10px;
    top: 10px;
    height: 100%;
    width: 28%;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    padding: 15px;
}
.linha{
    background-color: black;
    position: relative;
    left: 31%;
    top: 5%;
    width: 3px;
    height: 90%;
}
#tabela{
    position: relative;
    top: -822px;
    left: 590px;
    font-size: 36px;
}
.celulaInclusa{
    background-color: beige;
    font-size: 36px;
}
.celula{
    font-size: 24px;
height: 20px;
}